/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #17202A; /* Negro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.header-image {
    max-width: 25%; /* Ancho máximo igual al ancho del header */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    border: 10px solid #fff; /* Borde de 10px blanco */
    border-radius: 10px; /* Bordes redondeados */
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos de las secciones */
section {
    padding: 50px 0;
    background-color: #0a84ff; /* Azul */
    color: #fff;
    transition: opacity 0.5s;
}

.hidden {
    display: none;
}

/* Estilos de las secciones 
#about {
    padding: 50px 0;
    background-color: #1B4F72;
    color: #fff;
}

#skills {
    padding: 50px 0;
    background-color: #2874A6;
    color: #fff;
}

#projects {
    padding: 50px 0;
    background-color: #3498DB;
    color: #fff;
}

#contact {
    padding: 50px 0;
    background-color: #85C1E9;
    color: #fff;
}
*/

/* Estilos de los proyectos */
.project {
    margin-bottom: 50px;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Estilos del formulario de contacto */
form {
    max-width: 500px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #121212; /* Negro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #000; /* Negro más oscuro */
}

/* Estilos del pie de página */
footer {
    background-color: #121212; /* Negro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
